.ranking
  height: 100%
  .bars
    padding: 0
    margin: 1em
    list-style: none
    .bar
      display: block
      height: 35px
      line-height: 35px
      background: #ddd
      margin-top: 5px
      position: relative
      .bg
        height: 100%
        position: absolute
        left: 0
        top: 0
      .text
        position: absolute
        left: 0
        top: 0
        font-size: 14px
        padding-left: 1em

