.ranking
  height: 100%
  .bars
    padding: 0
    margin: 1em
    list-style: none
    .bar
      display: block
      height: 30px
      line-height: 30px
      background: #ccc
      margin-top: 5px
      .bg
        height: 100%
