$nav-height: 50px
$foot-height: 50px

body
  margin: 0
  font-family: Consolas, "Microsoft Yahei"
  #app
    background: #eee
    height: 100%
    width: 100%
    max-width: 375px
    margin: 0 auto
    overflow: auto
    #nav
      width: 100%
      height: $nav-height
      line-height: $nav-height
      position: fixed
      top: 0
      left: 0
      .center-fixed
        background-color: #ef5245
    #content
      margin-top: $nav-height
      margin-bottom: $foot-height
    #foot
      position: fixed
      left: 0
      bottom: 0
      width: 100%
      height: $foot-height
      display: flex
      .center-fixed
        background-color: #f8f8f8
        border-top: 1px solid #ccc

#nav
  display: flex
  .nav-item
    flex-grow: 0
    &.title
      flex-grow: 1
      text-align: center

.center-fixed
  width: 100%
  max-width: 375px
  color: #fff
  margin: 0 auto
  display: flex

.menu-item
  flex: 1 0 0
  display: flex
  align-items: center
  justify-content: center
  color: #555
  text-decoration: none

  .icon
    height: 20px
    width: 50px
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat
  .text
    font-size: 10px
    width: 50px
    text-align: center

